<div>
   <div class="row" style="margin-bottom: 1em;">
    <div class="col-sm-12">
      <div class="card"><div class="card-body" [innerHTML]="question.description">

      </div>
    </div>
      
    
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6" *ngFor="let option of question.options; let i = index">
      <div style="margin-bottom: 1em" 
        (click)="onSelect(i)"
        [ngClass]="getMyClass(i,'alert')"
        class="alert ">
        <strong>{{getQuestionLetter(i)}}</strong>
        <p  innerHTML={{option}}></p>
 
      </div>
    </div>
  </div>
</div>